body{
    margin: 0px;
}
nav{
    background-color: blue;
    text-align: right;
}
nav li{
    list-style-type: none;
    display: inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}
nav li a:hover{
    background-color: rgb(0, 255, 0);
    color: red;
    transition: background-color 0.8s linear, color 0.8s ease-in-out;
}
nav ul{
    margin:0;
    padding:0;
    margin-right: 10px;
}